/* General Reset for Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* General Layout and Body Styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: #121212;
    color: #ffffff;
    font-size: 16px; /* Default font size for consistency */
    transition: background-color 0.2s ease, color 0.2s ease;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    text-align: left;
    padding: 8px;
    margin: 5px 0 5px; /* Adds some margin for spacing */
}

/* Operator section on the left */
#operatorContainer {
    background-color: #333333;
    color: #ffffff;
    border-radius: 8px; /* rounds corner of operator container */
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}*/

/* operator-section and part-section */
#operatorContainer {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px; /* Optional: rounds the corners of each operator section */
}

.operator-section {
    margin-bottom: 20px;
    padding: 10px;
}
/* Consistent margin for all operator items */
#operatorContainer .operator-section .operator-item {
    margin-bottom: 10px; /* Set consistent spacing between items */
}

/* Faint line only for sections that are not the last one */
.operator-section:not(:last-of-type) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Faint white border */
}

.part-section {
    border-radius: 8px;
    margin: 0;
    padding: 10px; /* Adjust padding to give space inside each section */
}

#switches,
#receivers,
#bollards,
#powerSupplies {
    background-color: #2c2c2c;
}

/* Form Container Styling */
form {
    margin-bottom: 20px;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

/* Label and Bubble Button Styling */
label.bubble {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

input[type="radio"] {
    display: none; /* Hide the actual radio button */
}

input[type="radio"]:checked + label.bubble {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

/* Number Input Field Styling */
input[type="number"] {
    width: 75%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

/* Button Styling */
#addOperatorBtn {
    display: block; /* Makes the button block-level */
    width: 100%; /* Makes it span the full width of its parent */
    margin: 0 auto; /* Centers it horizontally */
    padding: 10px; /* Adjust padding for visual appeal */
    background-color: #4CAF50; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Removes default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Shows pointer cursor on hover */
    text-align: center; /* Ensures the text is centered */
}

#addOperatorBtn:hover {
    background-color: #45a049; /* Darker shade on hover */
}


button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-color 0.2s ease, color 0.2s ease;

}

button:hover {
    background-color: #45a049; /* Darker shade on hover */
}

/* Quote Output Area Styling */
#quoteOutput {
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
    white-space: pre-line;
    transition: color 0.2s ease;
}

/* Table header styling */
table {
    width: 90%;
    margin: 20px;
    border-collapse: separate; /* Use separate borders to allow rounded corners */
    border-spacing: 0; /* Remove space between cells */
    border-radius: 4px; /* Rounded corners for the table */
    overflow: hidden; /* Ensure rounded corners are visible */
    margin: 0 auto; /* Centers the table */
    border: 1px solid #333333;
}

/* Table Header Styling */
thead {
    background-color: #333333; /* Dark header background */
}

th {
    padding: 10px;
    text-align: left;
    color: #ffffff;
    background-color: #444444; /* Slightly lighter for header cells */
}

td {
    padding: 10px;
    text-align: left;
    color: #ffffff;
}

/* Hover effect */
td:hover {
    background-color: #555555; /* Slightly lighter on hover for interactivity */
}

/* Border Styling */
td, th {
    border: 1px solid #333333;
}
thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
    border-radius: 4px 0 0 0;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}

/* Form Elements Spacing */
form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="radio"] + label {
    margin-right: 10px;
}

form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Switch Container Styling */
.switch-container label.bubble,
.receiver-container label.bubble,
.bollard-container label.bubble,
.power-supply-container label.bubble {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.switch-item, .receiver-item, .bollard-item, .power-supply-item {
    margin-bottom: 15px;
}

/* Make the labels block-level elements to ensure input fields are on new lines */
.operator-number-item label,
.switch-item label,
.receiver-item label,
.power-supply-item label,
.bollard-item label
 {
    display: block; /* Force label to be on a new line */
    margin-bottom: 5px; /* Add margin for some spacing between the label and input */
}



.switch-container, .receiver-container, .bollard-container, .power-supply-container {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
}

/* Table Styling - Ensuring it's responsive */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Desktop layout */
@media (min-width: 1024px) {
    #mainContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
        width: 100%;
    }

    /* Operator section on the left */
    #operatorContainer {
        width: 33%; /* 1/3 of the screen */
    }

    /* Parts container on the right */
    #partsContainer {
        width: 66%; /* 2/3 of the screen */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Flexible grid layout */
        gap: 20px; /* Space between parts */
    }

    .part-section {
        padding: 10px;
        border-radius: 8px;
    }
}
/* Smaller screens (less than 1024px wide) */
@media (max-width: 1023px) {
    #mainContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #operatorContainer {
        width: 100%;
    }

    #partsContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px; /* Space between parts */
    }

    .part-section {
        padding: 10px;
    }
}

/* Smaller screens (less than 480px wide) */
@media (max-width: 480px) {
    table th {
        font-size: 15px;
        padding: 8px;
        font-weight: bold;
    }

    table td {
        font-size: 15px;
        padding: 8px;
    }

    #switches, #receivers, #bollards, #powerSupplies {
        margin-bottom: 10px;  /* Adds space between sections on smaller screens */
    }
}

